
* {
  	font-family: "Doto", serif;
	font-optical-sizing: auto;
	font-weight: 700;
	font-style: normal;
	font-size: calc(100vh/32);
	color: #000;
	/* the f letter is too close to i in "fi" */
	/* letter-spacing: 1px; */
}

p {
	margin-block-start: 0.5em;
	margin-block-end: 0.5em;
}

:root {
	--readable-font: arial, sans-serif;
	--readable-font-weight: normal;
	--button-background-color: rgb(151, 95, 255);
}

body {
	margin: 0px;
}

.inline-block {
	display: inline-block;
}

/***********/

.main-container {
	padding: 4px;
}

.inputs-table {
	margin: auto;
}

.peer-unavailable .peerid {
	color: #c00;
}

.peerid-connecting {
	display: none;
}
.show-peerid-connecting .peerid-connecting {
	display: inline-block;
}

/***********/

.drop-area {
	width: 80vw;
	height: 30vw;
	vertical-align: middle;
	/* text-align: center; */
	margin: auto;
	border-radius: 2vw;
	border: 3px solid #444;
	padding: 1vw;
	display: block;
}

.drag-over {
	background-color: #ccc;
}

.instructions, .text-intro {
	width: fit-content;
	margin: auto;
}

.recv-text {
  	font-family: var(--readable-font);
  	font-weight: var(--readable-font-weight);
	width: fit-content;
	max-width: 80vw;
	max-height: 80vh;
	overflow: auto;
}


.recv-img {
	display: block;
	margin: 4px auto;
	max-width: 90vw;
	max-height: 60vh;
	border: 2px solid #000;
}

.recv-img .show-img {
	display: block;
}

.recv-text-wrapper button {
}

.recv-text-wrapper {
	padding: 1vw;
	display: none;
}

.recv-text-wrapper.has-text {
	border-radius: 2vw;
	border: 3px solid #444;
	padding: 0.5vw;
	margin: 4px auto;
	width: fit-content;
	display: block;
}

.recv-text-copy {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='currentColor'%3E%3Cpath d='M6.9998 6V3C6.9998 2.44772 7.44752 2 7.9998 2H19.9998C20.5521 2 20.9998 2.44772 20.9998 3V17C20.9998 17.5523 20.5521 18 19.9998 18H16.9998V20.9991C16.9998 21.5519 16.5499 22 15.993 22H4.00666C3.45059 22 3 21.5554 3 20.9991L3.0026 7.00087C3.0027 6.44811 3.45264 6 4.00942 6H6.9998ZM5.00242 8L5.00019 20H14.9998V8H5.00242ZM8.9998 6H16.9998V16H18.9998V4H8.9998V6Z'%3E%3C/path%3E%3C/svg%3E");
	width: 32px;
	height: 32px;
	border: 6px;
	border: 1px solid #888;
	/*
	border: 2px solid #000;
	border-radius: 10px;
	--bg: hsl(190deg 20% 10%);
	--border-angle: 0deg;
	*/
}
.recv-text-copy:hover {
	background-color: var(--button-background-color);
}

.copy-animate {
	border: 2px solid transparent;
	background: linear-gradient(white, white) padding-box,
	conic-gradient(
		from var(--border-angle),
		var(--bg) 50%,
		white
	)
	border-box;
	animation: border-angle-rotate 0.3s linear;
}

@property --border-angle {
	syntax: "<angle>";
	initial-value: 0deg;
	inherits: false;
}

@keyframes border-angle-rotate {
	from { --border-angle: 0deg; }
	to { --border-angle: 360deg; }
}

/***********/
/* qrcode */

.qrcode-container {
	text-align: center;
}
.qrcode {
	width: fit-content;
	margin: auto;
}
.qrcode img {
	width: 50vw;
	height: 50vw;
	max-width: 50vh;
	max-height: 50vh;
}

.qrcode-link {
	max-width: 90vw;
	/* word-break: break-all; */
	overflow-wrap: break-word;
  	font-family: var(--readable-font);
  	font-weight: var(--readable-font-weight);
}

/***********/

.input-text {
  border: none;
  outline: none;
  border-radius: 15px;
  padding: 0.5em;
  background-color: #ccc;
  box-shadow: inset 2px 5px 10px rgba(0,0,0,0.3);
  transition: 300ms ease-in-out;
  font-family: var(--readable-font);
  font-weight: var(--readable-font-weight);
  margin: 3%;
}

.input-text:focus {
  background-color: white;
  transform: scale(1.05);
  box-shadow: 13px 13px 40px #969696,
             -13px -13px 40px #ffffff;
}

/***********/
/* messages */

.messages {
	mask-image: linear-gradient(to bottom, rgb(0 0 0 / 100%) 128px, rgb(255 255 255 / 40%) 100%);
}
.messages p {
	font-family: var(--readable-font);
	font-size: 2vh;
	margin: 0px;
}

.messages .error {
	color: #c00;
}

/***********/

button {
	margin: 2% 5%;
}

.buttons-container {
	display: flex;
	flex-direction: row;
	width: 100%;
	margin: 0px auto;
}

.send-recv-buttons-container {
	display: flex;
	flex-direction: row;
	margin: 0px auto;
}

.help-button {
	margin: 0px;
}

.help-div {
	margin: 10vh 10vw;
	height: 80vh;
	width: 80vw;
	position: fixed;
	background-color: #f8f8ff;
	border-radius: 3vw;
	border: 0.5vw solid #444;
	padding: 2vw;
	overflow: scroll;
}


/***********/

.connected-item {
	display: none;
}
.connected .connected-item {
	display: block;
}

.send-item, .recv-item, .send-item-tr, .recv-item-tr {
	display: none;
}

.send-mode .send-item {
	display: block;
}
.send-mode .send-item-tr {
	display: table-row;
}
.recv-mode .recv-item {
	display: block;
}
.recv-mode .recv-item-tr {
	display: table-row;
}


/***********/

.file-selector {
	display: none;
}
.file-selector-container {
	width: fit-content;
	margin: auto;
}
.file-selector-container label {
}


/***********/
/* Mobile */

@media (max-width: 600px) {
	.input-text {
		width: 60vw;
		font-size: calc(100vh/48);
	}

	body .loader-bar {
		width: 60vw;
		height: 12vw;
		grid-template-columns: repeat(3,2vw) repeat(10, 3vw 2vw) repeat(2,2vw);
		grid-template-rows: repeat(6,2vw);
	}

	/* font-size: calc(100vh/32); */
	.qrcode-link {
		font-size: 2vh;
	}
}

/***********/
/* Progress bar */


.loader-bar {
  margin: 4px auto;
  width: 30vw;
  height: 6vw;
  display: grid;
  grid-template-columns: repeat(3,1vw) repeat(10, 1.5vw 1vw) repeat(2,1vw);
  grid-template-rows: repeat(6,1vw);
}

.block-border {
  background-color: #444;
}

.block-meter {
  background-color: var(--button-background-color);
}

.block-border:nth-of-type(1) {
  grid-row: 1;
  grid-column: 3/-3;
}

.block-border:nth-of-type(2) {
  grid-row: -2;
  grid-column: 3/-3;
}

.block-border:nth-of-type(3) {
  grid-row: 3/5;
  grid-column: 1;
}

.block-border:nth-of-type(4) {
  grid-row: 3/5;
  grid-column: -2;
}

.block-border:nth-of-type(5) {
  grid-row: 2;
  grid-column: 2;
}

.block-border:nth-of-type(6) {
  grid-row: 2;
  grid-column: -3;
}

.block-border:nth-of-type(7) {
  grid-row: 5;
  grid-column: 2;
}

.block-border:nth-of-type(8) {
  grid-row: 5;
  grid-column: -3;
}

.block-meter:nth-of-type(9) {
  grid-row: 3/5;
  grid-column: 4;
}

.block-meter:nth-of-type(10) {
  grid-row: 3/5;
  grid-column: 6;
}

.block-meter:nth-of-type(11) {
  grid-row: 3/5;
  grid-column: 8;
}

.block-meter:nth-of-type(12) {
  grid-row: 3/5;
  grid-column: 10;
}

.block-meter:nth-of-type(13) {
  grid-row: 3/5;
  grid-column: 12;
}

.block-meter:nth-of-type(14) {
  grid-row: 3/5;
  grid-column: 14;
}

.block-meter:nth-of-type(15) {
  grid-row: 3/5;
  grid-column: 16;
}

.block-meter:nth-of-type(16) {
  grid-row: 3/5;
  grid-column: 18;
}

.block-meter:nth-of-type(17) {
  grid-row: 3/5;
  grid-column: 20;
}

.block-meter:nth-of-type(18) {
  grid-row: 3/5;
  grid-column: 22;
}

.block-meter:nth-of-type(19) {
  grid-row: 3/5;
  grid-column: 24;
}

.flash {
  animation-name: flash;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes flash {
   0%, 50%, 100% {
      opacity: 1;
   }
   25%, 75% {
      opacity: 0;
   }
}

/***********/
/* Button */


/* From Uiverse.io by vinodjangid07 */ 
.Btn {
  position: relative;
  width: fit-content;
  padding: 10px 30px;
  border-radius: 45px;
  border: none;
  background-color: rgb(151, 95, 255);
  color: white;
  box-shadow: 0px 10px 10px rgb(210, 187, 253) inset,
  0px 5px 10px rgba(5, 5, 5, 0.212),
  0px -10px 10px rgb(124, 54, 255) inset;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 4px;
}

.Btn::before {
  width: 70%;
  height: 2px;
  position: absolute;
  background-color: rgba(250, 250, 250, 0.678);
  content: "";
  filter: blur(1px);
  top: 7px;
  border-radius: 50%;
}

.Btn::after {
  width: 70%;
  height: 2px;
  position: absolute;
  background-color: rgba(250, 250, 250, 0.137);
  content: "";
  filter: blur(1px);
  bottom: 7px;
  border-radius: 50%;
}

.Btn:hover {
  animation: jello-horizontal 0.6s both;
}

@keyframes jello-horizontal {
  0% {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(1.15, 0.75, 1);
  }

  40% {
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    transform: scale3d(1.05, 0.95, 1);
  }

  100% {
    transform: scale3d(1, 1, 1);
  }
}


/***********/
/* connecting bar */

.connecting {
    position: relative;
    width: 56px;
    height: 32px;
    background-repeat: no-repeat;
    background-image: linear-gradient(#444 50px, transparent 0),
                      linear-gradient(#444 50px, transparent 0),
                      linear-gradient(#444 50px, transparent 0),
                      linear-gradient(#444 50px, transparent 0),
                      linear-gradient(#444 50px, transparent 0),
                      linear-gradient(#444 50px, transparent 0);
    background-position: 0px center, 15px center, 30px center, 45px center, 60px center, 75px center, 90px center;
    animation: rikSpikeRoll 0.65s linear infinite alternate;
  }
@keyframes rikSpikeRoll {
  0% { background-size: 10px 3px;}
  16% { background-size: 10px 50px, 10px 3px, 10px 3px, 10px 3px, 10px 3px, 10px 3px}
  33% { background-size: 10px 30px, 10px 50px, 10px 3px, 10px 3px, 10px 3px, 10px 3px}
  50% { background-size: 10px 10px, 10px 30px, 10px 50px, 10px 3px, 10px 3px, 10px 3px}
  66% { background-size: 10px 3px, 10px 10px, 10px 30px, 10px 50px, 10px 3px, 10px 3px}
  83% { background-size: 10px 3px, 10px 3px,  10px 10px, 10px 30px, 10px 50px, 10px 3px}
  100% { background-size: 10px 3px, 10px 3px, 10px 3px,  10px 10px, 10px 30px, 10px 50px}
}

/***********/
